<?xml version="1.0" encoding="utf-8"?>
<Window bktrans="true" size="120,160">
<HorizontalLayout bkcolor="#FF000000" bkcolor2="FF2b2b2b">
	<HorizontalLayout bkcolor="FF1b1b1b" width="20" />
	<List header="hidden" inset="0,8,0,8" itemhotbkcolor="#FF494949">
		<ListContainerElement name="menu_OpenFile" height="22" inset="2,0,0,0">
			<Label text="打开文件" mouse="true" textcolor="FFFFFFFF"/>
		</ListContainerElement>
		<ListContainerElement name="menu_OpenFolder" height="22" inset="2,0,0,0">
			<Label text="打开文件夹" mouse="true" textcolor="FFFFFFFF"/>
		</ListContainerElement>
		<ListContainerElement name="menu_NoFrame" height="22" inset="2,0,0,0">
			<Label text="无边框模式" mouse="true" textcolor="FFFFFFFF"/>
		</ListContainerElement>
		<ListContainerElement name="menu_SetFullScreen" height="22" inset="2,0,0,0">
			<Label text="全屏" mouse="true" textcolor="FFFFFFFF"/>
		</ListContainerElement>
		<ListContainerElement name="menu_ExitFullScreen" height="22" inset="2,0,0,0">
			<Label text="退出全屏" mouse="true" textcolor="FFFFFFFF"/>
		</ListContainerElement>
	</List>
</HorizontalLayout>
</Window>